<header>
    <button type="button" class="btn btn-dark" routerLink="/listar-usuario">Listar Usuário</button>
    <button type="button" class="btn btn-dark" routerLink="/inserir-usuario">Inserir Usuário</button>
    <button type="button" class="btn btn-dark" routerLink="/editar-usuario">Editar Usuário</button>
</header>
<main>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem aliquid impedit provident, autem minus quo laborum sunt ducimus vitae aperiam commodi quam ea nulla praesentium exercitationem nesciunt ipsam dolores fugit?</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem aliquid impedit provident, autem minus quo laborum sunt ducimus vitae aperiam commodi quam ea nulla praesentium exercitationem nesciunt ipsam dolores fugit?</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem aliquid impedit provident, autem minus quo laborum sunt ducimus vitae aperiam commodi quam ea nulla praesentium exercitationem nesciunt ipsam dolores fugit?</p>
</main>
