<main>
  <img src="/assets/image/ab67616d0000b27354970c10077f3b9d8d3367b8.jpg" alt=""/>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quibusdam
      quasi quo laborum amet quod neque magnam quas beatae eius aperiam, a
      minima! Autem quibusdam error debitis consequuntur ab ducimus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quibusdam
      quasi quo laborum amet quod neque magnam quas beatae eius aperiam, a
      minima! Autem quibusdam error debitis consequuntur ab ducimus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quibusdam
      quasi quo laborum amet quod neque magnam quas beatae eius aperiam, a
      minima! Autem quibusdam error debitis consequuntur ab ducimus.
    </p>
  </div>
</main>
